node_modules
jlab_server
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js

#TypeDoc
typedoc-theme/

# ms IDE stuff
.history/
.vscode/
