**/build
**/node_modules
**/lib
**/package.json
**/static
**/dist
**/.ipynb_checkpoints
coverage
test-results
playwright-report

# ms IDE stuff
.history/
.vscode/

env_installer

src/assets/uFuzzy.iife.min.js
