name: Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    strategy:
      matrix:
        cfg:
        - { platform: linux, platform_name: Linux,  os: ubuntu-latest }
        - { platform: mac, platform_name: macOS, os: macos-latest }
        # - { platform: win, platform_name: Windows, os: windows-latest }
        
    name: '${{ matrix.cfg.platform_name }} installer'
    runs-on: ${{ matrix.cfg.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: |
          npm install --global yarn
          conda install constructor
          yarn install

      - name: Create App Server Installer
        run: |
          yarn create_env_installer:${{ matrix.cfg.platform }}

      - name: Create App Installers
        run: |
          yarn dist:${{ matrix.cfg.platform }}

      - name: Upload Debian Installer
        if: matrix.cfg.platform == 'linux'
        uses: actions/upload-artifact@v2
        with:
          name: debian-installer
          path: |
            dist/JupyterLab.deb

      - name: Upload Fedora Installer
        if: matrix.cfg.platform == 'linux'
        uses: actions/upload-artifact@v2
        with:
          name: fedora-installer
          path: |
            dist/JupyterLab.rpm

      - name: Upload macOS Installer
        if: matrix.cfg.platform == 'mac'
        uses: actions/upload-artifact@v2
        with:
          name: mac-installer
          path: |
            dist/JupyterLab.pkg

      - name: Upload Windows Installer
        if: matrix.cfg.platform == 'win'
        uses: actions/upload-artifact@v2
        with:
          name: windows-installer
          path: |
            dist/JupyterLab-Setup.exe
